
.beige {
  color: beige;
  text-align: center;
}

img {
  width: 400px;
  height: 400px;
  float: left;
  margin-right: 100px;
}

* {
  background-color: black;
}  

.summary {
  background-color: beige;
  padding: 10px;
  color: black;
  border-radius: 25%;
}

#name {
  font-size: 30px;
  font-weight: 700;
  color: burlywood;
  text-align: center;
}