
.beige {
  color: beige;
  text-align: center;
}

img {
  width: 400px;
  height: 400px;
  float: left;
  margin-right: 100px;
}

* {
  background-color: black;
}

p, ul, li, a {
  color: beige;
  text-align: left;
}  

.summary {
  width: 400px;
  height: 400px;
  display: inline-block;
  background-color: whitesmoke;
  border: 5px solid white;
  text-align: center;
}

#name {
  font-size: 30px;
  font-weight: 700;
}